@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap');

/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    font-family: 'Gabarito', cursive;
}

/*header*/

header{
    background-color: black;
    padding: 10px;
    z-index: 1;
}

header nav img{
    width: 90px;
    height: 90px;
}

header h1{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    list-style: none;
}

header h1 a{
    color: white;
    text-decoration: none;
    list-style: none;
}

header form{
    color: white;
    background-color: grey;
    padding: 5px;
    width: 100%;
}

header form div a img{
    width:45%
}

/*main*/
.hero{
    width: 100%;
    height: 500px;
    background-image: url("../img/carbono.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border: 1px solid white;
}

.hero h2{
    color: white;
    text-align: center;
}

.sponsors{
    background-image: url(../img/carbono.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    color: white;
    text-align: center;
}

.sponsors h2{
    color: white;
}

.sponsors img{
    width: 1200px;
    height: 500px;
    
}

.productos-destacados{
    color: white;
    background-color: black;
    width: 100%;
    height: 25px;
}

.tarjetas img{
    width: 250px;
    height: 200px;
    border: 1px solid grey;
}

.productos-destacados h3{
    text-align: center;
}

.tarjetas h3{
    color: black;
    text-align: center;
}

.tarjetas div{
    border: 3px solid black;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: 1s;
}

.tarjetas div:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.tarjetas{
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 25px;
}

.tarjetas a{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
    text-decoration: none;
    list-style: none;
}

.tarjetas div h3{
    color: black;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-decoration: none;
    font-size: 15px;
}

.tarjetas div h4{
    color: red;
}

.titulo-galeria h3{
    background-color: black;
}

.carousel-inner img{
    width: 100px;
    height: 300px;
}

/*footer*/

footer{
    background-color: grey;
    position: relative;
    top: 1100px;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: flex-end;   
}

footer h2{
    text-align: left;
}

footer div a img{
    width: 30px;
    height: 30px;
}

/*media query*/

@media screen and (max-width:1225px){
    .sponsors{
    display: none;
}
}

@media screen and (max-width: 1267px) {
    .tarjetas{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}
}

@media screen and (max-width: 615px) {
    .tarjetas{
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr ;
}
}

@media screen and (max-width: 970px) {
    .grid-galeria{
    display: grid;
    grid-template-rows:  1fr;
    grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 970px) {
    footer{
    top: 700px;
    }
}